html {
    position: relative;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, "Times New Roman", serif;
}

a {
    text-decoration: none;
    color: #777777;
}

body {
    width: 100%;
    margin-bottom: 76px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: url("../images/circles-light.png")
}   

.well {
    background-color: #fff;
}

.well p {
    line-height: 1.8;
}

#headshot {
    width: 250px;
    height: auto;
    padding-right: 1em;
    float: left;
}

/* Panel / Connect styling */
.panel-body img {
    width: 75px;
}

.panel {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 76px;
    font-size: 12px;
    color: lightgrey;
    padding: 2.5em;
    text-align: center;
    background-color: #666666;
    margin-top: 1em;
}

